@font-face {
    font-family: minecraftia;
    src: url(game/fonts/minecraftia-reg.ttf);
}

body{
    margin: 0px;
    background-image: url(imgs/bgPan.jpg);
    background-size: auto;
	background-position: 0px 0px;
	background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    animation: bgAnim 100s linear infinite alternate;
    overflow-y: hidden;
}

@keyframes bgAnim{
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#logo{
    margin-top: 5px;
    width: 400px;
    height: 125px;
    background-image:url(game/imgs/logo-2.png);
        
}

#buildnum{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    opacity: 0.2;
    margin-left: 125px;
    margin-top: -55px;
    color: white;
    -webkit-user-select: none;
}

#buildnum:hover{
    opacity: 0.6;
}

#titleBar{
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
    box-shadow: 0 0 10px black;
}

#title{
    height: 20px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 18px;
    color: white;
}

#titleBtns{
    float: right;
    height: 20px;
    -webkit-app-region: no-drag;
}

#t_close{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    margin-right: 2px;
    float: right;
    background-image: url(game/imgs/t_close-norm.png);
}

#t_close:hover{
    background-image: url(game/imgs/t_close-hov.png);
}

#t_window{
    height: 18px;
    width: 20px;
    margin-top: 1px;
    margin-right: 5px;
    float: right;
    background-image: url(game/imgs/t_window-norm.png);
}

#t_window:hover{
    background-image: url(game/imgs/t_window-hov.png);
}

#t_minimize{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    float: right;
    margin-right: 5px;
    background-image: url(game/imgs/t_minimize-norm.png);
}

#t_minimize:hover{
    background-image: url(game/imgs/t_minimize-hov.png);
}

#dragArea{
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-app-region: drag;
}

#buttons{
    float: left;
    width: 200px;
    height: 300px;
    margin-top: 100px;
}

#play{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
}

#playHov{
    background-image: url(imgs/play.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#playHov:hover{
    margin-left: 20px;
}

#settingsBtn{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
    margin-top: 10px;
}

#settingsHov{
    background-image: url(imgs/settings.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#settingsHov:hover{
    margin-left: 20px;
}

#exit{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
    margin-top: 10px;
}

#exitHov{
    background-image: url(imgs/exit.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#exitHov:hover{
    margin-left: 20px;
}

#exitBtn{
    border: 1px solid white;
    height: 25px;
    float: left;
    width: 0;
    margin-top: 240px;
    margin-left: -95px;
    transition: 1s;
}

#loadGame{
    background-color: rgba(0, 0, 0, 0.15);
    background-size: cover;
    box-shadow: 0 0 10px black;
    width: 0;
    height: 0;
    transition: 0.3s;
    z-index: 1;
    margin-top: 20px;
}

#game1{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    padding-top: 10px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game2{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    margin-top: 10px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game3{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    margin-top: 10px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game1Content{
    line-height: 20px;
    height: 60px;
    -webkit-user-select: none;
}

#game2Content{
    padding-top: 5px;
    line-height: 20px;
    height: 60px;
    -webkit-user-select: none;
}

#game3Content{
    padding-top: 5px;
    line-height: 20px;
    height: 60px;
    -webkit-user-select: none;
}

#game1Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
    margin-top: -18px;
    margin-right: -180px;
}

#game1Erase:hover{
    background-image: url(imgs/erasehov.png);
}

#game2Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
    margin-top: -18px;
    margin-right: -180px;
}

#game2Erase:hover{
    background-image: url(imgs/erasehov.png);
}

#game3Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
    margin-top: -18px;
    margin-right: -180px;
}

#game3Erase:hover{
    background-image: url(imgs/erasehov.png);
}

#settings{
    background-color: rgba(197, 197, 197, 0.6); 
    box-shadow: 0 0 5px black;
    width: 0;
    height: 0;
    z-index: 1;
    margin-left: 250px;
    margin-top: 160px;
}

#settingsTitle{
    background-color: #767676;
    height: 50px;
    font-family: 'minecraftia';
    color: #2E2E2E;
    font-size: 35px;
    position: fixed;
    width: 295px;
    padding-left: 5px;
    -webkit-user-select: none;
}

#music{
    background-color: #969696;
    height: 25px;
    font-family: 'minecraftia';
    color: #2E2E2E;
    font-size: 20px;
    position: fixed;
    width: 300px;
    margin-top: 75px;
    -webkit-user-select: none;
    box-shadow: 0 0 2px black;
}

#Msel{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 5px;
    float: left;
    -webkit-user-select: none;
}

#author{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Exo 2';
    color: white;
    opacity: 0.2;
    font-size: 15px;
    -webkit-user-select: none;
}

#legal{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 88px;
    height: 33px;
    background-image: url(imgs/cc.png);
    margin-bottom: 18px;
    opacity: 0.2;
}