@font-face {
    font-family: minecraftia;
    src: url(game/fonts/minecraftia-reg.ttf);
}

body{
    margin: 0px;
    background-image: url(imgs/bg.jpg);
    background-size: auto;
}

#logo{
    margin-top: 5px;
    width: 400px;
    height: 125px;
    background-image:url(game/imgs/logo-2.png);
        
}

#buildnum{
    float: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    opacity: 0.2;
    margin-left: 2px;
    margin-top: 7px;
    color: white;
}

#titleBar{
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
    box-shadow: 0 0 10px black;
}

#title{
    height: 20px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 18px;
    color: white;
}

#titleBtns{
    float: right;
    height: 20px;
    -webkit-app-region: no-drag;
}

#t_close{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    margin-right: 2px;
    float: right;
    background-image: url(game/imgs/t_close-norm.png);
}

#t_close:hover{
    background-image: url(game/imgs/t_close-hov.png);
}

#t_window{
    height: 18px;
    width: 20px;
    margin-top: 1px;
    margin-right: 5px;
    float: right;
    background-image: url(game/imgs/t_window-norm.png);
}

#t_window:hover{
    background-image: url(game/imgs/t_window-hov.png);
}

#t_minimize{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    float: right;
    margin-right: 5px;
    background-image: url(game/imgs/t_minimize-norm.png);
}

#t_minimize:hover{
    background-image: url(game/imgs/t_minimize-hov.png);
}

#dragArea{
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-app-region: drag;
}

img.bg {
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.blur {
  height: 250px;
  width: 200px;
  margin: -20px auto;
  z-index: -1;
  position: relative;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='5');
  overflow: hidden;
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(32, 32, 32, .7);
  position: absolute;
}

.widget {
  border-top: 1px solid black;
  height: 230px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px;
}