@font-face {
    font-family: minecraftia;
    src: url(game/fonts/minecraftia-reg.ttf);
}

body{
    margin: 0px;
    background-image: url(imgs/bgPan.jpg);
    background-size: auto;
	background-position: 0px 0px;
	background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    animation: bgAnim 200s ease infinite alternate;
}

@keyframes bgAnim{
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#logo{
    margin-top: 5px;
    width: 400px;
    height: 125px;
    background-image:url(game/imgs/logo-2.png);
        
}

#buildnum{
    float: left;
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    opacity: 0.2;
    margin-left: 2px;
    margin-top: 7px;
    color: white;
}

#titleBar{
    width: 100%;
    height: 20px;
    -webkit-app-region: drag;
    box-shadow: 0 0 10px black;
}

#title{
    height: 20px;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 18px;
    color: white;
}

#titleBtns{
    float: right;
    height: 20px;
    -webkit-app-region: no-drag;
}

#t_close{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    margin-right: 2px;
    float: right;
    background-image: url(game/imgs/t_close-norm.png);
}

#t_close:hover{
    background-image: url(game/imgs/t_close-hov.png);
}

#t_window{
    height: 18px;
    width: 20px;
    margin-top: 1px;
    margin-right: 5px;
    float: right;
    background-image: url(game/imgs/t_window-norm.png);
}

#t_window:hover{
    background-image: url(game/imgs/t_window-hov.png);
}

#t_minimize{
    margin-top: 1px;
    height: 18px;
    width: 20px;
    float: right;
    margin-right: 5px;
    background-image: url(game/imgs/t_minimize-norm.png);
}

#t_minimize:hover{
    background-image: url(game/imgs/t_minimize-hov.png);
}

#dragArea{
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-app-region: drag;
}

#buttons{
    float: left;
    width: 200px;
    height: 300px;
    margin-top: 100px;
}

#play{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
}

#playHov{
    background-image: url(imgs/play.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#playHov:hover{
    margin-left: 20px;
}

#settings{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
    margin-top: 10px;
}

#settingsHov{
    background-image: url(imgs/settings.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#settingsHov:hover{
    margin-left: 20px;
}

#exit{
    background-image: url(imgs/button.png);
    width: 200px;
    height: 50px;
    margin-top: 10px;
}

#exitHov{
    background-image: url(imgs/exit.png);
    height: 50px;
    width: 200px;
    transition: 0.5s;
}

#exitHov:hover{
    margin-left: 20px;
}

#exitBtn{
    border: 1px solid white;
    height: 25px;
    float: left;
    width: 0;
    margin-top: 240px;
    margin-left: -95px;
    transition: 1s;
}

#loadGame{
    background-image: url(imgs/bg.jpg);
    background-size: cover;
    box-shadow: 0 0 10px black;
    width: 0;
    height: 0;
    transition: 0.3s;
    z-index: 1;
}

#game1{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    padding-top: 10px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game2{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    margin-top: 5px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game3{
    background-image: url(imgs/game.png);
    width: 0;
    height: 0;
    margin-top: 5px;
    box-shadow: 0 0 2px black;
    transition: 0.2s;
    font-family: minecraftia;
    color: white;
    line-height: 20px;
}

#game1Content{
    line-height: 20px;
    height: 60px;
}

#game2Content{
    line-height: 20px;
    height: 60px;
}

#game3Content{
    line-height: 20px;
    height: 60px;
}

#game1Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
}

#game2Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
}

#game3Erase{
    background-image: url(imgs/erase.png);
    width: 20px;
    height: 18px;
}